{% extends 'base.html.twig' %}

{% block title %} categoryies {% endblock %}

{% block body %}
<div class="container">
<center><h1>categoryies</h1></center><br><br>
{% include "layouts/_flash_message.html.twig" %}
<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for category in categories %}
            <tr>
                <td>{{ category.id }}</td>
                <td>{{ category.name }}</td>
                <td>
                    <a class="btn btn-outline-primary" href="{{ path('app_category-update', {'id': category.id}) }}">edit</a> |
                    <a onclick="return confirm('voulez-vous vraiment supprimer cette categori')" class="btn btn-outline-danger"  href="{{ path('app_category-delete', {'id': category.id}) }}">delete</a>
            </tr>
            {% else %}
            <p>Aucune categoryie a afficher pour l'instat</p>
        {% endfor %}
    </tbody>
    </table>
    <br>
    <a class="btn btn-outline-primary" href="{{ path('app_category/new') }}" class="btn btn-primary">Create</a>
</div>
{% endblock %}
